
header{
  position: fixed;
  left:0;
  top:0;
  width:100vw;
  height:12vh;
}
header img{
  display: block;
  margin: 2vh auto auto auto;
  height:7vh;
}
body{
  height: 20vh;
  padding: 4em;
  font-family: 'Ariel', Helvetica;
  background-color: rgb(0,0,0);
  font-size: 2em;
  line-height: 200%;
}
p{
    line-height: 200%;
    left:-2em;
    position: relative;
    top: 10%;
    width: 24em;
    margin: 2em auto auto 0;
    text-align: Left;
    word-wrap: break-word;
    transition: color 2s;
    color: rgba(255,255,255,.75);

}
.user{
  right:-4em;
  text-align: Right;
  margin: 2em 0 auto auto;
  color: rgba(255,255,255);
}
.flexbox {
  left:0;
  position: fixed;
  bottom: 5%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  bottom: 10%;
  margin: 20px;
}
input{
  font-size: 1.4em;
}
#name {
  margin:auto;
  height:10%;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
}
#namesub {
  color: white;
  background-color:#2b2d2f;
  margin-left: 64px;
  font-size: 1.8em;
  height:10%;
  padding: 10px;
  border: solid 0px white;
  border-radius: 50px;
}
.imgholder{
  display: block;
  position: fixed;
  width:100%;
  height:45%;
  left:0;
  bottom: 0;
  justify-content: center;
  z-index: -1;
}
.imgholder img{
  display: block;
  margin: auto;
}
@media only screen and (min-width: 768px){
  header img{
    height:10vh;
  }
 p{
   margin-left: 22vw;
 }
 .user{
   margin-right: 22vw;
 }
 #name{
   width:60%;
   transition: width 0.5s;
 }
 #name:hover {
   width:72%;
 }
 #namesub{
   transition: color 0.5s;
 }
 #namesub:hover{
   background-color:#0d98ba;
 }
 .imgholder{
   height: 60vh;
 }
 .imgholder img{
   margin-bottom: 10vh;
 }
}
@media only screen and (max-width: 767px){
  header img{
    height:7vh;
  }
  body{
    font-size: 9.8pt;
  }
 p{
   margin: 2em auto auto 0;
 }
 .user{
   margin: auto auto 2em 0;
 }
 #namesub {
   color: white;
   margin-left: 18px;
 }
 .imgholder{
   height: 45;
 }
 .imgholder img{
   margin: auto;
   height: 50%;
 }

}
